html, body{
    height: 100%;
    margin: 0;
	padding: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.material-icons.green{color: #0F9D58;}
.material-icons.blue{color: #4285F4;}



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-128 { font-size: 128px; }


.content{
    height: 100%;
    overflow: hidden;
    display: flex;
}

nav{
    background-color: lightgray;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;

}

span{
    cursor: pointer;
}

.content-page{
    font-size: 60px;
    margin-left: 5%;
    width: 65%;
}

#todo-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 45px;
    margin-left: 5%;
}

input, textarea, select{
    font-size: 30px;
}

input[type=checkbox] {
    transform: scale(2.5);
    padding: 10px;
}

label{
    padding: 10px;
}

button{
    font-size: 40px; 
    height: 50px;
}

#todo-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}

.todo-item:hover{
    background-color: gray;
}

#todo-container{
    margin-top: -100px
}

details{
    font-size: 60px;
}

.cat-div{
    margin-top: 5rem;
    margin: 20px;
    box-shadow: 10px 10px 10px black;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    background-color: slategray;
    text-align: center;
}
.cat-div:hover{
    cursor: pointer;
    background-color: lightgray;
}

.cat-header{
    text-transform: capitalize;
}